
<section id="newsletter" class="text-center p-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Call-Now for the service</h1>
        <br><br>
         <div class="row mrg-top30">
          <div class="col-md-6 text-center footer-contact-border">
          <button type="button" id="call"class="btn btn-primary btn-lg">
             Call
            <i class="fa fa-phone"></i>
           <span>
            <span class="artemis-1623">
              <a>1300 364 646</a>
            </span>
           </span>
          </button>
          <br><br>
          <p class="footer-enquiries-time">Enquiries till
           <strong>5PM MON-FRI AEST</strong>
          </p>
        </div>
        <div class="col-md-6 text-center">

          <button type="button" routerLink="/booking" id="call"class="btn btn-success btn-lg">
             Book Online Now
          </button>
          <br><br>
          <p class="footer-enquiries-time">
           <strong>GET STARTED</strong>
          </p>
          </div>
       </div>
      </div>
    </div>
  </div>
</section>

<footer id="main-footer" class="text-center p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright {{date | date:'yyyy'}} &copy; WEB DESIGN BY PRAVEEN KUMAR</p>
      </div>
    </div>
  </div>
</footer>