#about img {
  margin-top: -50px; 
}

  #page-header{
  height:300px;
  background:url('../../assets/title/TitleBackground4.jpg');
  background-position:0 -360px;
  background-attachment:fixed;
  color:#fff;
  border-bottom:1px #eee solid;
  padding-top:50px;
}

.header{
   margin-top: 7vh;
}
@media(max-width:786px)
{
  .dark-overlay{
    margin-top: -9vh;
  }
  
}