<header id="page-header">
  <div class="dark-overlay">
    <div class="container ">
      <div class="row header">
        <div class="col-md-6 m-auto text-center">
      <h1 class="text-center">Photo Gallery</h1>
      <p class="text-center">Check out our photos</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- PHOTO GALLERY -->
<section id="gallery" class="py-5">
  <div class="container">
    <ks-modal-gallery [modalImages]="images" [plainGalleryConfig]="plainGalleryGrid"></ks-modal-gallery>
  </div>
</section>




