#page-header{
  height:200px;
  background:url('../../assets/title/TitleBackground4.jpg');
  background-position:0 -360px;
  background-attachment:fixed;
  color:#fff;
  border-bottom:1px #eee solid;
  padding-top:50px;
}
.header{
  margin-top: 3vh;
}
#contact{
  margin-top: 3vh;
}
.btn{
  font-size:2vh;
  text-align:center;
  width:50vh;
  margin-left: 10px;
  border-radius: 30px;
  -webkit-box-shadow: inset 2px 2px 5px 0px #242E38;
  -moz-box-shadow: inset 2px 2px 5px 0px #042E4D;
  box-shadow: inset 2px 2px 5px 0px #182D3A;
}
.item{
  width: 50vh;
  padding: 1vh;
}  
.message{
  width:50vh;
  padding: 1vh;
}
.form{
  align-items: center;   
}