    
   #showcase{
    background-image:url("../../assets/login2.jpg");
    background-size:cover;
    background-position:center;
    height:80vh;
    /* width:100vw; */
    display:flex;
    flex-direction:column;
  } 
#card{
    width:50vh;
    height: 50vh;
    margin-top: 15vh;
    position: absolute;
    z-index:1;
    background:rgba(231, 236, 238,.1);
    opacity:1;
  }  
  #card-content
  {
    width: 44vh;
    margin-top: -2.4vh;
    height: 34vh;
  }  
  
  #card-title{
       background: #68e6c8;
       color: white;
       width:44vh;
       height: 5rem;
       text-align: center;
       
  }
   #card-title h1{
      margin-top: -1vh;
  }
  .container{
    width:40rem;
  }
 
  
  .header-content form{
    font-size:2vh;
    text-align: justify;
  }
  
  .btn{
    font-size:2vh;
    text-align:center;
    width:42vh;
    border-radius: 30px;
    -webkit-box-shadow: inset 2px 2px 5px 0px #242E38;
    -moz-box-shadow: inset 2px 2px 5px 0px #042E4D;
    box-shadow: inset 2px 2px 5px 0px #182D3A;
  }
    .items{
      width:40vh;
  
  }
 
@media(max-width:786px)
{
    #card{
    width:49vh;
    height: 55vh;
  } 
   .btn{
  margin-left: 2vh;
  margin-top: -1vh;
    width:40vh;
  }
    #card-content
  {

    height: 37vh;
  }  
}